@model Project_Core.DAL.Models.States

@{
    ViewData["Title"] = "Details";
}

<h1>Details States</h1>

<div>

    <hr />
    <table class="table table-bordered">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Active)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Active)
            </td>
        </tr>
    </table>
</div>
<div>
    @Html.ActionLink(" ", "Edit", "States", new { id = Model.Id, }, new { @class = "btn btn-primary btn-sm fas fa-pen-square" })
    @Html.ActionLink(" ", "Index", "States", null, new { @class = "btn btn-primary fas fa-chevron-circle-left" })
</div>
